# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

css/main.css.map
css/.sass-cache
css/.sass-cache/
*/.DS_Store

css/.sass-cache/ad3ecf01a2ef2e6f16735f344a9ea5902b036480/main.scssc

*.scssc
